* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Kalam', cursive;
}

body {
  background-color:#D8D8D8;
}

/*ESTILOS DE LA BARRA DE NAVEGACION*/

header {
  background-color: #FAF4F4;
}

.navbar {
  padding: 30px 10px;
}

.nav-links li a{
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: #140000;
  text-align: center;
}

.navbar-mobile {
  display: none;
}

.navbar-toggler {
  border: none;
  outline: none;
  padding: 0px;
}

.nav-item {
  margin-right: 60px;
}

/*Buscador*/
.search-container {
  display: flex;
  justify-content: center; /* Ajusta la alineación horizontal del buscador */
  align-items: center; /* Ajusta la alineación vertical del buscador */
  padding: 1rem;
  position: relative;
}

.search-input {
  width: 100%; /* Ajusta el ancho del buscador */
  padding: 10px;
  border: 2px solid black;
  outline: none;
  padding-right: 40px; /*deja espacio para el botón dentro del campo de entrada*/
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80px; /* Ajusta el ancho del botón, para posicionar la ubicacion del boton */
  background: transparent;
  border: none;
  outline: none;
}

/*ESTILOS DEL FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #140000;
  gap: 25px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.email-container {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.email-container input{
  padding: 5px;
  width: 100%; /* Ajusta el ancho del buscador según tus necesidades */
  padding: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #FAF4F4;
}

.email-container button {
  background-color: #B40104;
  padding: 10px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.footer-nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.social-links {
  display: flex;
  gap: 30px; /* Ajusta el espacio entre los enlaces */
}

.social-links a {
  font-size: 20px;
  background-color: white;
  color: black;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px; /* Ajusta el ancho según tus necesidades */
  height: 50px; /* Ajusta la altura según tus necesidades */
  text-decoration: none;
}

.copyright {
  color: white;
  text-align: center;
}

footer h3 {
  color: white;
}





/*ESTILOS DE LA PAGINA CONTACTO*/

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
}



.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.contact-form {
  background-color: #FAF4F4;
  padding: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  width: 40rem;
  margin: 2rem;
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-transform: uppercase;
}

.form-group {
  display: flex;
  justify-content: center; /* Ajusta la alineación horizontal del buscador */
  align-items: center; /* Ajusta la alineación vertical del buscador */
  padding-bottom: 2rem;
  position: relative;
}

.form-group input {
  width: 100%; /* Ajusta el ancho del buscador según tus necesidades */
  padding: 10px 0px 10px 0px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding-left: 40px; /*deja espacio para el botón dentro del campo de entrada*/
  text-transform: uppercase;
  font-weight: bold;
  background-color: #FAF4F4;
}

.form-group svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
}

.form-group textarea {
  width: 100%; /* Ajusta el ancho del buscador según tus necesidades */
  padding: 10px 0px 10px 0px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  padding-left: 40px; /*deja espacio para el botón dentro del campo de entrada*/
  background-color: #FAF4F4;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-form button {
  background-color: #B40104;
  padding: 10px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}


/*ESTILOS DE LA PAGINA INDEX*/

.card {
  width: 300px;
  border: 3px solid black;
  border-radius: 4px;
  overflow: hidden;
  background-color: #FAF4F4;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
}

.card-image {
  width: 100%;
  height: auto;
  border-bottom: 3px solid black;
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 2rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.card-price {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #B40104;
}

.card-button {
  background-color: #B40104;
  color: #fff;
  border: none;
  padding: 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight:bold;
}


.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  margin: 10px;
}


.container-news > .title-container h1 {
  background-color: #FAF4F4;
  padding: 0.5rem;
  border: 3px solid black
}

.container-news {
  background-color: #B40104;
  padding-bottom: 3rem;
}

/*divisor de novedades*/
.custom-shape-divider-top-1690760178 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1690760178 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 60px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1690760178 .shape-fill {
  fill: #D8D8D8;
}



/*ESTILOS DE LA PAGINA GALERIA*/

.container-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 10px;
}

.gallery-image {
  height: auto;
  border-radius: 1rem;
  width: 100%;
  max-width: 30rem;
}

/*ESTILOS DE LA PAGINA LOGIN*/
.background-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 0, 0, 0.87) 0%, rgba(255, 0, 0, 0.87) 100%), url('../img/background.webp');
  background-blend-mode: darken;
  background-size: cover; /* Ajusta la imagen para cubrir todo el espacio sin repetirse */
  background-position: center; /* Centra la imagen en el contenedor */
  z-index: -1; /* Coloca la imagen de fondo detrás del contenido */
}

/*ESTILOS DE LA PAGINA ABOUT_ME*/
.background-about-me {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.87) 0%, rgba(255, 255, 255, 0.87) 100%), url('../img/background_about_me.webp');
  background-blend-mode: darken;
  background-size: cover; /* Ajusta la imagen para cubrir todo el espacio sin repetirse */
  background-position: center; /* Centra la imagen en el contenedor */
  z-index: -1; /* Coloca la imagen de fondo detrás del contenido */
}
.about_me {
  background-color: #FAF4F4;
  padding: 50px;
  margin: 60px auto;
  border: 5px solid black;
}




/*MEDIA QUERIES*/

@media (max-width: 991px) {

  .nav-item {
    background-color: #FAF4F4;
    border: 5px solid black;
    padding: 15px 0px;
    margin-bottom: 25px;
    text-align: center;
    margin-right: 0px;
  }

  .offcanvas {
    background: linear-gradient(180deg, #B40104 0%, rgba(180, 1, 4, 0.56) 100%);
  }

  .navbar-toggler:focus {
    box-shadow:none;
  }

  .btn-close-vector{
    background-color: transparent;
    border: none;
  }
}